/* Global */
body, #body, html { max-width: 450px; width: 450px; }
html { overflow: hidden; }
.page { padding-bottom: 5px; }
.rotate-180 { transform: rotate(-180deg); transition: all 0.2s; }

/* Headings */
h4 small i { color: #ccc; cursor: pointer; margin: 0 0 0 2px; transform: rotate(0deg); transition: all 0.2s; }
h4 small:hover i { color: inherit; transition: all 0.2s; }

/* Confirm Button */
#confirmOutput { padding: 5px; margin: 0; border-top: 2px solid #ccc; }

/* Navigation */
#navigation li { text-align: center; border-bottom: 2px solid #ccc; }
#navigation li span { display: block; margin: 0; }
#navigation li.active { border-bottom: 2px solid #212529; }
#navigation li.active i, #navigation li.active a { color: #212529; }
#navigation .col { padding: 0; }
#navigation .col:first-child { padding-left: 15px; }
#navigation .col:last-child { padding-right: 15px; }
.nav-link { padding: 3px 0; }

/* Scrollbar */
#navoutput {
    max-height:480px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 10px;
}
#navoutput::-webkit-scrollbar-button{ display: none; }
#navoutput::-webkit-scrollbar-thumb{ background-color: #CCC; }
#navoutput::-webkit-scrollbar-thumb:hover{ background-color: #777; border-radius: 0px; opacity:0.5; }
#navoutput::-webkit-scrollbar-track{ background-color: #efefef; background-color: rgba(0,0,0,0.1); }
#navoutput::-webkit-scrollbar-track:hover{ background-color: #CCC; background-color: rgba(0,0,0,0.1); }
#navoutput::-webkit-scrollbar{ width: 10px; }

/* Commentary */
.commentary-card > div > small { opacity: 0; cursor: pointer; }
.commentary-card:hover > div > small { opacity:1; }
.com-sprite-cont { width: 18px; height: 18px; }

/* Teams */
span.sprite-cont { padding: 3px 4px 5px 4px !important; background-color: white; border-right: none; }
input.player-cont { border-left: none; }
/*.sprite-cont a { margin: 0 2px }*/
.sprite-cont a[href^="#icon"]{ width:12px; height:12px; background-size: 12px 492px; }

/* 5 columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
