#exclude directories
/dist/octicons*
/dist/webfonts
/docs/webfonts
/templates
/assets

#exclude jquery, bootstrap js/css
/js/bootstrap*
/js/jquery*
/css/bootstrap*
/docs/js/bootstrap*
/docs/js/jquery*
/docs/css/bootstrap*

#exclude analytics
ga.js

#exclude icons/older files
*.psd
*.old.*

#exclude other
*.DS_Store
