#exclude directories
/dist/octicons*
/dist/webfonts
/docs/webfonts
/templates
/assets

#exclude jquery, bootstrap js/css
/js/bootstrap*
/js/jquery*
/css/bootstrap*
/docs/js/bootstrap*
/docs/js/jquery*
/docs/css/bootstrap*

#exclude other
ga.js
*.psd
*.old.*
*.DS_Store
*.zip
*.rar
